In [3]:
import pandas as pd

In [20]:
df_visitor_daytime = pd.read_parquet("E:/Data460/safegraph/bigdata_safegraph-1/parquet/visitor_daytime_cbgs.parquet", engine='pyarrow')
df_related_same_day = pd.read_parquet("E:/Data460/safegraph/bigdata_safegraph-1/parquet/related_same_day_brand.parquet", engine='pyarrow')
df_popularity_hour = pd.read_parquet("E:/Data460/safegraph/bigdata_safegraph-1/parquet/popularity_by_day.parquet", engine='pyarrow')

In [18]:
df_related_same_day.head(5)

# We have location of store/brand

,placekey,startDate,endDate,related_same_day_brand,value
0,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Walmart,50.0
1,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Buffalo Wild Wings,50.0
2,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Sam's Club Fuel Center,50.0
3,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,QuikTrip,50.0
4,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,P.F. Chang's China Bistro,50.0

In [19]:
df_visitor_daytime.head(5)

,placekey,startDate,endDate,visitor_daytime_cbgs,value
0,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,401430029003,4.0
1,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,401430012001,4.0
0,227-222@5z6-96f-btv,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,060650449112,7.0
1,227-222@5z6-96f-btv,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,060650451181,7.0
2,227-222@5z6-96f-btv,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,060650451151,6.0

In [21]:
df_popularity_hour.head(10)

,placekey,startDate,endDate,popularity_by_day,value
0,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Monday,0
1,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Tuesday,0
2,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Wednesday,1
3,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Thursday,0
4,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Friday,0
5,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Saturday,1
6,zzw-223@5r8-fqv-xkf,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Sunday,0
0,227-222@5z6-96f-btv,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Monday,20
1,227-222@5z6-96f-btv,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Tuesday,22
2,227-222@5z6-96f-btv,2021-07-01 00:00:00+00:00,2021-08-01 00:00:00+00:00,Wednesday,23